*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: #eecb5f;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 40px;
}